/* src/app/globals.css */

/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-10px); }
  60% { transform: translateY(-5px); }
}
.bouncy-title {
  animation: bounce 2s infinite;
}

@keyframes continuous-scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.animate-continuous-scroll {
  display: flex;
  animation: continuous-scroll linear infinite;
}

@keyframes hero-bounce {
  0%, 100% { transform: translateY(-5%); animation-timing-function: cubic-bezier(0.8,0,1,1); }
  50% { transform: translateY(0); animation-timing-function: cubic-bezier(0,0,0.2,1); }
}
.hero-title-bouncy {
    animation: hero-bounce 3s infinite;
}
.hero-title-gradient {
    animation: hero-bounce 3s infinite 0.2s;
}